@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --body-bg: #151616;
  --bg-1: #121414;
  --bg-2: #171B1A;
  --text-color-1: #646464;
  --primary: 31 94% 55%;
  --secondary: 40, 89%, 63%;

}

@theme inline {
  --color-body-bg: var(--body-bg);
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-text-1: var(--text-color-1);
  --font-sans: 'DM Sans', sans-serif;
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
}

@layer base {
  h1 {
    @apply text-white font-bold leading-tight tracking-tighter;
    font-size: clamp(1.25rem, 0.813rem + 2.188vw, 3rem);
  }

  h2 {
    @apply text-white font-extrabold leading-tight tracking-tight uppercase mb-8;
    font-size:clamp(1.25rem, 0.813rem + 2.188vw, 3rem);
  }

  h3 {
    @apply text-white font-bold flex items-center gap-3;
    font-size: clamp(1.5rem, 5vw, 2rem);
  }

  h4 {
    @apply text-primary font-bold tracking-wide;
    font-size: clamp(1.1rem, 3vw, 1.4rem);
  }
}

 
@layer utilities {
  .clip-sidebar {
      height: 100%;
      width: 100%;
      background-color: var(--bg-1) !important;
      clip-path: polygon(100% 28%, 100% 100%, 0 100%, 0 19%);
      z-index: -1;
  }
     .clip-sidebar-right {
         height: 100%;
         width: 100%;
         background-color: var(--bg-1) !important;
         clip-path: polygon(0 34%, 100% 23%, 100% 100%, 0% 100%);
         z-index: -1;
     }
     .text-gradient{
      @apply text-transparent bg-clip-text bg-gradient-to-l from-primary to-secondary font-bold;
     }
     .bg-gradine{
      @apply bg-gradient-to-r from-primary to-secondary;
     }
}

@layer components {
  input, textarea {
    @apply w-full py-[11px] !px-4 rounded-[10px] outline-none text-white transition-all duration-300 border-1 border-transparent;
    background-color: #111111;
    background-image: linear-gradient(var(--bg-2), var(--bg-2)), 
                      linear-gradient(to right, color-mix(in srgb, var(--color-primary), transparent 65%), color-mix(in srgb, var(--color-secondary), transparent 65%));
    background-origin: border-box;
    background-clip: padding-box, border-box;
    border-image: none;
  }

  /* ফোকাস স্টেট */
  input:focus, textarea:focus {
    @apply shadow-[0_0_20px_rgba(255,145,77,0.2)];
    background-image: linear-gradient(var(--bg-2), var(--bg-2)), 
                      linear-gradient(to right, var(--color-primary), var(--color-secondary));
  }
  .form-label{
    @apply text-sm md:text-base lg:text-xl xl:text-xl font-medium;
  }
  
}


body {
  background: var(--body-bg);
  font-family: var(--font-sans);
  color: white;
}

img{
  width: 100%;
  height: auto;
  object-fit: cover;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-bg-1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  @apply bg-primary/60;
}

