@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

:root {
  --body-bg: #151616;
  --bg-1: #121414;
  --bg-2: #171B1A;
  --text-color-1: #646464;
  --primary: 31 94% 55%;
  --secondary: 40, 89%, 63%;

}

@theme inline {
  --color-body-bg: var(--body-bg);
  --color-bg-1: var(--bg-1);
  --color-bg-2: var(--bg-2);
  --color-text-1: var(--text-color-1);
  --font-sans: 'DM Sans', sans-serif;
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-bg-1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
  @apply bg-primary/60;
}
 
 
@layer utilities {
  .clip-sidebar {
    position: relative;
    overflow: hidden;
    z-index: 2;

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: var(--bg-1) !important;
      clip-path: polygon(100% 28%, 100% 100%, 0 100%, 0 19%);
    z-index: -1;
    }
  }
     .clip-sidebar-right {
       overflow: hidden;
       z-index: 2;
  
       &::before {
         content: '';
         position: absolute;
         bottom: 0;
         right: 0;
         height: 100%;
         width: 100%;
         background-color: var(--bg-1) !important;
      clip-path: polygon(0 34%, 100% 23%, 100% 100%, 0% 100%);
         z-index: -1;
       }
     }
     .text-gradient{
      @apply text-transparent bg-clip-text bg-gradient-to-l from-primary to-secondary font-bold;
     }
     .bg-gradine{
      @apply bg-gradient-to-r from-primary to-secondary;
     }
}

/* @component utilities {
  .btn{
    @apply ;
  }
} */


body {
  background: var(--body-bg);
  font-family: var(--font-sans);
  color: white;
}

img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
h1,h2,h3,h4,h5,h6{
  font-family: var(--font-sans);
 font-weight: 700;
}


